body {
    background-color: rgb(110, 112, 214);
}

main {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: center;
}

nav{
    gap: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}